{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    <div class="register-container">
        <h1>Create Your Account</h1>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-field">
                <input  autofocus type="text" name="first_name" 
                placeholder="First name" required autocomplete="off">
            </div>
            <div class="form-field">
                <input type="text" name="last_name" 
                placeholder="Last name" required autocomplete="off">
            </div>
            <div class="form-field">
                <input type="text" name="username" 
                placeholder="Username" required autocomplete="off">
            </div>
            <div class="form-field">
                <input type="email" name="email" 
                placeholder="Email address" required autocomplete="off">
            </div>
            <div class="form-field">
                <input type="password" name="password" 
                placeholder="Password" required autocomplete="off">
            </div>
            <div class="form-field">
                <input type="password" name="confirmation" 
                placeholder="Confirm password" required autocomplete="off">
            </div>
            <div class="form-field">
                <input id="register-btn" type="submit" value="Register">
            </div>
            <!--Display error message if invalid username or passwords not matching-->
            {% if message %}
                <div class="form-field error-msg">{{ message }}</div>
            {% endif %}
        </form>
        <div>Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}